<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
  {{- if .IsHome -}}
    {{ .Site.Title }}
  {{- else -}}
    {{ .Title }} &middot; {{ .Site.Title }}
  {{- end -}}
  </title>
  {{- with .Description -}}
    <meta name="description" content="{{ . }}">
  {{- else -}}
    <meta name="description" content="{{ .Site.Params.description }}">
  {{- end -}}
  <link rel="stylesheet" href="/chang-e/styles.css">
  <script src="{{ 'theme.js' | relURL }}" defer></script>
</head>